@import "tailwindcss";

:root {
  --background: #f8f6f5;
  --foreground: #171717;
  
  /* Stitch Design Tokens */
  --primary: #f2590d;
  --background-light: #f8f6f5;
  --background-dark: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  
  --font-display: var(--font-space-grotesk);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), sans-serif;
  min-height: 100vh;
}
